<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682580151127-opf9rj4ig71501vd4l8lohlvka3h07hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682580151127-opf9rj4ig71501vd4l8lohlvka3h07hp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682580151127-vort75kmembj5qrf2sig67cqn4u8mplt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIjRk1MfcW_8kkHWcpBgPfONcEng4xHGc</string>
	<key>GCM_SENDER_ID</key>
	<string>682580151127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-2ff6d</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-2ff6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682580151127:ios:e31d533985c9fac9e1cc12</string>
</dict>
</plist>